<ul class="social-media-list">
  <li><a href="mailto:marcusding@me.com"><img src="/assets/envelope.svg" class="svg-icon"></img> <span class="username"> mail</span></a></li>
  <li><a href="https://www.facebook.com/kryptokommunist"><img src="/assets/facebook.svg" class="svg-icon"> <span class="username"> stalk</span></img></a></li>
  <li><a href="https://www.letterboxd.com/kryptokommunist"><img src="/assets/letterboxd.svg" class="svg-icon"></img> <span class="username"> follow</span></a></li>
  <li><a href="https://www.github.com/kryptokommunist"><img src="/assets/github.svg" class="svg-icon"></img> <span class="username"> judge</span></a></li>
  <li><a href="https://www.flickr.com/photos/kryptokommunist/"><img src="/assets/flickr.svg" class="svg-icon"> <span class="username"> see</span></img></a></li>
</ul>
