---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome';

.post {
  margin-bottom: 100px;
}

.post img {
  width: 89%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.post .caption {
  text-align: center;
}

.post-list img {
  width: 66%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.post-list .caption {
  text-align: center;
}

.pagination {
  text-align: center;
}

.post-tags {
  text-align: center;
  margin-top: 50px;
}

.post-tag {
    display: inline-block;
    position: relative;
    background: #424242;;
    padding: 0 .5rem;
    margin: .2em;
    margin-right: .5rem;
    border-radius: 4px;
    color: #fff !important;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 100%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}

.post-tag:hover {
    text-decoration: none;
    background: #6a9fb5;
    color: #fff
}

.svg-icon {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-left: .3rem;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 89%;
}

#last-name {
  color: #f22b74 !important;
}

.site-title {
    font-weight: bold !important;
}

.madewith {
  text-align: right;
  margin: 1rem;
  margin-top: -1.5rem;
}

.pagination {
  margin-bottom: 1rem;
}

#search-box {
  width: 100%;
  height: 40px;
  font-size: 24px;
  color: black;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #2a7ae2;
}
